{% extends "base.html" %}
{% block title %}To-do | About {% endblock %}
{% block content %}
	<div>
	 	<h1 class="title">
	  		<i class="fa fa-info-circle"></i> About
	  	</h1>
	</div>
	<hr style="border-top: 1px solid #f70d1a;">
	<h4>
		This is free and open-source.
		<br>
		Link: <a href="https://github.com/ryurina/todoFlask" target="_blank">https://github.com/ryurina/todoFlask</a>
	</h4>
	<h4>
		<a href="https://github.com/ryurina" target="_blank"><i class="fa fa-github"></i> @ryurina</a>
		<br>
		<a href="https://github.com/ryurina23" target="_blank"><i class="fa fa-twitter"></i> @ryurina23</a>
	</h4>
	<h4>
		Enjoy using it!
	</h4>
{% endblock %}